.App { text-align: center;
  color: white;
  background-color: rgba(236, 213, 7);
  min-height: 95vh;
  align-items: center;
  display: flex; 
  justify-content: center;
 
}

@media screen and (min-width: 595px) {
  .container-form { margin: 0.5rem;
    border: 1px solid rgba(253, 253, 253, 0.493);
    border-radius: 10px;
    padding: 5rem;
  }
}

.container-form, .login-form, .singin-form {display: flex;
  padding: auto;
  flex-direction: column;
  color: rgb(7, 6, 6);
}

button { margin: 0.5rem;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  color: #3c334b;
}

input { margin: 0.5rem 0;
  border: none;
  border-radius: 10px;
  padding: 1rem;
}

.error{
  color: rgb(252, 2, 2);
}

.link-btn {
  background: none;
  text-decoration: underline;
  color: rgb(3, 243, 55);
}

